@charset "utf-8";

	* {
	padding:0;
	margin:0;
	border:0;
}
body {
   background: #d5d5d5;
	font-family:trebuchet MS;
	color:#6B6B6B;
   border: 0 none;
   margin: 0;
	font-size:13px;
   padding: 0;
}
#wrapper{
  padding: 0px 0px;
}
.container{
	width: 100%;
}
.row{}
.circle{
  background: #ffffff;
  padding: 35px;
  text-align: center;
  height: 250px;
  width: 250px;

    transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
}
.circle h4{
  margin: 0;
  padding: 0;
}
.circle p{}
.circle span{}
.circle span.icon{
}
.circle span.icon i{
  font-size: 48px;
}
.circle span.price-large{
  font-size: 68px
}
.price-small{
  font-size: 24px
}

.c1:hover{
  background: #39b3d7;
  color: #ffffff;
}
.c1 .blue{
  color: #39b3d7;
}
.c1:hover .blue{
  color: #ffffff;
}

.c2:hover{
  background: #gray;
  color: #ffffff;
}
.c2 .yellow{
  color: #ed9c28;
}
.c2:hover .yellow{
  color: #ffffff;
}

.c3:hover{
  background: #47a447;
  color: #ffffff;
}
.c3 .green{
  color: #47a447;
}
.c3:hover .green{
  color: #ffffff;
}

.c4:hover{
  background: #c2c2c2;
  color: #ffffff;
	border-width: 1px;
	border-color: #474747;
	border-style: solid;
}
.c4 .red{
  color: #d2322d;
}
.c4:hover .red{
  color: #ffffff;
}

.fa-check:hover{
	color: yellow;
}

.crop {
    width: 80px;
    height: 80px;
    overflow: hidden;
		text-align: center;
		margin: 0 auto;
}

.crop img {
    width: 80px;
    height: 80px;
}

.fa-check
{
	font-size:3em !important;
	margin-top: 0px;
}

.done{
	color: green;
}

.notdone{
	text-shadow: 1px 1px 1px #ccc;
	color:gray;
}

div.full-page {
    width:100%;
}

div#page-1 {
	background-color:#dfdfdf;

	vertical-align:middle;
}
div#page-2 {background-color:#4e4e4e;}

.row{
	text-align: center;
}
.col-sm-2{
	width: 18%;
	display: inline-block;
}

.img-circle{
	border-radius: 30%;
}

[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 30px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 30px;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}
